.main-text {
  font-size: 18px; /* Rozmiar czcionki */
  font-weight: bold; /* Pogrubienie tekstu */
}

.sub-text {
  font-size: 14px; /* Rozmiar czcionki */
  color: #666; /* Kolor tekstu */
  margin-top: 5px; /* Odstęp od górnego tekstu */
}
