<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invite to Group</h5>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="email" type="email" class="form-control" placeholder="Enter email" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendInvitation()">Send Invitation</button>
        <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
