<div class="container mt-4">
  <div class="row">
    <!-- Lista kategorii -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Lista Kategorii</h5>
        </div>
        <div class="list-group list-group-flush">
          <!-- Kategorie główne (bez parentId) -->
          <ng-container *ngFor="let category of getRootCategories()">
            <div class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="fw-bold">{{ category.name }}</div>
                  <small class="text-muted">Założyciel: {{ category.createdByUserId }}</small>
                </div>
                <div class="d-flex align-items-center">
                  <div [ngStyle]="{'background': category.hexColor}" class="color-box me-3 border rounded px-2 py-1">
                    {{ category.hexColor }}
                  </div>
                  <span [matTooltipDisabled]="category.createdByUserId === activeUser"
                        matTooltip="Nie możesz usunać tej kategorii, bo nie jesteś jej twórcą."
                        matTooltipShowDelay="500">
                <button [disabled]="category.createdByUserId !== activeUser"
                        color="warn"
                        mat-raised-button>
                  Usuń
                </button>
              </span>
                </div>
              </div>

              <!-- Podkategorie -->
              <div *ngIf="getSubCategories(category.id).length > 0" class="mt-2">
                <div *ngFor="let subCategory of getSubCategories(category.id)"
                     class="ms-4 py-2 border-top d-flex justify-content-between align-items-center">
                  <div>
                    <div>{{ subCategory.name }}</div>
                    <small class="text-muted">Założyciel: {{ subCategory.createdByUserId }}</small>
                  </div>
                  <div class="d-flex align-items-center">
                    <div [ngStyle]="{'background': subCategory.hexColor}"
                         class="color-box me-3 border rounded px-2 py-1">
                      {{ subCategory.hexColor }}
                    </div>
                    <span [matTooltipDisabled]="subCategory.createdByUserId === activeUser"
                          matTooltip="Nie możesz usunać tej kategorii, bo nie jesteś jej twórcą."
                          matTooltipShowDelay="500">
                  <button [disabled]="subCategory.createdByUserId !== activeUser"
                          color="warn"
                          mat-raised-button>
                    Usuń
                  </button>
                </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <div *ngIf="categories.length === 0" class="list-group-item">
            Brak kategorii do wyświetlenia.
          </div>
        </div>
      </div>
    </div>

    <!-- Formularz dodawania kategorii -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Dodaj Kategorię</h5>
        </div>
        <div class="card-body">
          <form #categoryForm="ngForm" (ngSubmit)="addCategory()">
            <!-- Nazwa kategorii -->
            <div class="mb-3">
              <label class="form-label" for="name">Nazwa Kategorii</label>
              <input
                [(ngModel)]="newCategory.name"
                class="form-control"
                id="name"
                minlength="3"
                name="name"
                required
                type="text"
              />
              <div
                *ngIf="
                  categoryForm.submitted &&
                  categoryForm.controls['name']?.invalid
                "
                class="text-danger mt-1"
              >
                Nazwa jest wymagana i musi mieć co najmniej 3 znaki.
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label" for="color">Wybierz Kolor</label>
                <input
                  [(colorPicker)]="color"
                  [cpOutputFormat]="'hex'"
                  [style.background]="color"
                  class="form-control"
                  id="color"
                  name="color"
                  [value]="color"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label" for="parentCategory">Wybierz kategorię nadrzędną*</label>
                <select
                  [(ngModel)]="newCategory.parentId"
                  class="form-control"
                  id="parentCategory"
                  name="parentCategory"
                >
                  <option disabled value="">Wybierz kategorię</option>
                  <option *ngFor="let category of categories" [ngValue]="category.id">
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
            <!-- Przycisk Dodaj -->
            <button
              [disabled]="!categoryForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
