<div class="container mt-4">
  <div class="row">
    <!-- Lista kategorii -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Lista Kategorii</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let category of categories"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div>
              <div>{{ category.name }}</div>
              <small class="text-muted">Założyciel: {{ category.createdByUserId }}</small>
            </div>
            <div class="border rounded" [ngStyle]="{'background': category.hexColor}">
              {{ category.hexColor }}
            </div>
            <button
              [disabled]="category.createdByUserId !== activeUser"
              class="btn btn-danger btn-sm"
              (click)="deleteCategory(category.id)"
            >
              Usuń
            </button>
            <button mat-raised-button (click)="openDialog()">Usuń 2</button>
          </li>
          <li *ngIf="categories.length === 0" class="list-group-item">
            Brak kategorii do wyświetlenia.
          </li>
        </ul>
      </div>
    </div>

    <!-- Formularz dodawania kategorii -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Dodaj Kategorię</h5>
        </div>
        <div class="card-body">
          <form #categoryForm="ngForm" (ngSubmit)="addCategory()">
            <!-- Nazwa kategorii -->
            <div class="mb-3">
              <label for="name" class="form-label">Nazwa Kategorii</label>
              <input
                id="name"
                type="text"
                class="form-control"
                [(ngModel)]="newCategory.name"
                name="name"
                required
                minlength="3"
              />
              <div
                *ngIf="
                  categoryForm.submitted &&
                  categoryForm.controls['name']?.invalid
                "
                class="text-danger mt-1"
              >
                Nazwa jest wymagana i musi mieć co najmniej 3 znaki.
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <label for="color" class="form-label">Wybierz Kolor</label>
                <input
                  [(colorPicker)]="color"
                  [style.background]="color"
                  [cpOutputFormat]="'hex'"
                  class="form-control"
                  name="color"
                  id="color"
                />
              </div>
            </div>
            <!-- Przycisk Dodaj -->
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!categoryForm.valid"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
