<div class="container mt-4">
  <div class="row">
    <!-- Lista kategorii -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Lista Kategorii</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let category of categories"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div>
              <div>{{ category.name }}</div>
              <small class="text-muted">Założyciel: {{ category.createdByUserId }}</small>
            </div>
            <div [ngStyle]="{'background': category.hexColor}" class="border rounded">
              {{ category.hexColor }}
            </div>
            <span [matTooltipDisabled]="category.createdByUserId === activeUser"
                  matTooltip="Nie możesz usunać tej kategorii, bo nie jesteś jej twórcą."
                  matTooltipShowDelay="500">
              <button (click)="openDialog(category.id)"
                      [disabled]="category.createdByUserId !== activeUser"
                      color="warn"
                      mat-raised-button>
                Usuń
              </button>
            </span>


          </li>
          <li *ngIf="categories.length === 0" class="list-group-item">
            Brak kategorii do wyświetlenia.
          </li>
        </ul>
      </div>
    </div>

    <!-- Formularz dodawania kategorii -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Dodaj Kategorię</h5>
        </div>
        <div class="card-body">
          <form #categoryForm="ngForm" (ngSubmit)="addCategory()">
            <!-- Nazwa kategorii -->
            <div class="mb-3">
              <label class="form-label" for="name">Nazwa Kategorii</label>
              <input
                [(ngModel)]="newCategory.name"
                class="form-control"
                id="name"
                minlength="3"
                name="name"
                required
                type="text"
              />
              <div
                *ngIf="
                  categoryForm.submitted &&
                  categoryForm.controls['name']?.invalid
                "
                class="text-danger mt-1"
              >
                Nazwa jest wymagana i musi mieć co najmniej 3 znaki.
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label" for="color">Wybierz Kolor</label>
                <input
                  [(colorPicker)]="color"
                  [cpOutputFormat]="'hex'"
                  [style.background]="color"
                  class="form-control"
                  id="color"
                  name="color"
                />
              </div>
            </div>
            <!-- Przycisk Dodaj -->
            <button
              [disabled]="!categoryForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              Dodaj
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
