<div>
  <button class="btn btn-primary mb-3" (click)="openForm()">Dodaj wydatek</button>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let header of headers" (click)="sort(header.field)">
        {{ header.label }}
        <i *ngIf="currentSortField === header.field"
           class="fa-solid fa-fw"
           [class.fa-arrow-up]="currentSortDirection === 'asc'"
           [class.fa-arrow-down]="currentSortDirection === 'desc'">
        </i>
      </th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expense of expenses; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ expense.name }}</td>
      <td>{{ expense.amount | currency:'PLN' }}</td>
      <td>{{ expense.expenseDate | date:'dd-MM-yyyy' }}</td>
      <td>{{ expense.note }}</td>
      <td>{{ expense.userId }}</td>
      <td>{{ expense.createdDate | date:'dd-MM-yyyy' }}</td>
      <td>{{ expense.lastModifiedDate | date:'dd-MM-yyyy' }}</td>
      <td>
        <button class="btn btn-warning btn-sm me-2" (click)="editExpense(expense)">Edytuj</button>
        <button class="btn btn-danger btn-sm me-2" (click)="deleteExpense(expense.id)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-expense-form
    *ngIf="showForm"
    [expense]="selectedExpense"
    [selectedTab]="selectedTab"
    (formClose)="closeForm()"
  ></app-expense-form>
</div>
