.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-dialog {
  position: relative;
  z-index: 1051;
  max-width: 60%; /* Ustaw maksymalną szerokość modalu */
}

.table-responsive {
  overflow-x: auto; /* Dodaj przewijanie poziome, jeśli tabela jest zbyt szeroka */
}

.table {
  width: 100%; /* Ustaw szerokość tabeli na 100% */
}
