<div>
  <button class="btn btn-primary mb-3" (click)="openForm()">Dodaj przychód</button>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let header of headers" (click)="sort(header.field)">
        {{ header.label }}
        <i *ngIf="currentSortField === header.field"
           class="fa-solid fa-fw"
           [class.fa-arrow-up]="currentSortDirection === 'asc'"
           [class.fa-arrow-down]="currentSortDirection === 'desc'">
        </i>
      </th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let income of incomes; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ income.name }}</td>
      <td>{{ income.amount | currency:'PLN' }}</td>
      <td>{{ income.incomeDate | date:'dd-MM-yyyy' }}</td>
      <td>
        <button class="btn btn-warning btn-sm me-2" (click)="editIncome(income)">Edytuj</button>
        <button class="btn btn-danger btn-sm me-2" (click)="deleteIncome(income.id)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-income-form
    *ngIf="showForm"
    [income]="selectedIncome"
    [selectedTab]="selectedTab"
    (formClose)="closeForm()"
  ></app-income-form>
</div>
